body {margin: 0; font-family: sans-serif;}

.header {margin: 5px; color: white; background: black; height: 70px;}

.logo {float: left;}

.navbar {float: right;}

.navbar ul{list-style: none; padding-top: 10px;}

.navbar ul li{display: inline; margin: 10px;}

.navbar ul li a{text-decoration: none; color: white; }

.navbar ul li a:hover {border-bottom: 2px solid white;}

.gambar {width: 70%; display: grid; grid-template-columns: 1fr 1fr 1fr; margin:auto;}

.gambar .foto img{width: 300px;}

.foto {border: 1px solid black; margin:10px; text-align: center; }

.foto a{border: 1px solid green; padding:10px; color: white; background: green; text-decoration: none; border-radius: 20px; cursor: pointer;}

.footer {text-align: center; margin: 20px; color: white; background: black; height: 70px;}

.footer p{padding-top:25px;}

.footer a{text-decoration: none; color: white; }



@media(min-width:321px) and (max-width: 425px){
    section#box-profile{
        width: 90%;
        height: 630px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 30px;
    }
    .menu-mobile{
        top: 20px;
        right: 10%;
        display: inline-block;
    }
    nav ul{
        display: none;
        right: 0;
        width: 100%;
        text-align: center;
        top: 43px;
        z-index: 99;
        background: #fff;
    }
    nav ul li{
        float: unset;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .description{
        padding-left: 0px;
        width: 100px;
        text-align: center;
        margin-left: 0;
        border: none;
    }
    .description .button{
        margin-right: 10px;
        margin-left: 10px;
    }
    .img-profile .photo{
        left: 35px;
        position: relative;
    }
    .information{
        top: 75px;
        margin-left: 25px;
        font-size: 14px;
    }
}